form{
    display: flex;
    flex-direction: column;
    text-align: start;
}

label{
    margin: 5px;
}

input{
    border-radius: 15px;
    margin-bottom: 5px;
    padding: 5px;
}

textarea{
    border-radius: 15px;
    padding: 5px;
}